{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Taskly - View Tasks</title>
</head>
<body>
{% include 'profile/base.html' %}
<div class="container mt-5">
    <h3 class="text-center">My Tasks</h3>
    <hr>
    {% for tsk in task %}
        <div class="card mt-3">
            <div class="card-header">
                {{ tsk.title }}
            </div>
            <div class="card-body">
                <p class="card-text">{{ tsk.content }}</p>
                <a href="{% url 'update-task' tsk.id %}" class="btn btn-outline-info">Update</a>
                <a href="{% url 'delete-task' tsk.id %}" class="btn btn-outline-danger">Delete</a>
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>