{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/styles.css' %}">
    <title>Taskly</title>
</head>
{% include 'base.html' %}
<br>
<div class="container bg-white shadow-md p-3 mt-5 form-layout">
    <h3>This is our dashboard page!</h3>
    <br>
    <a href="{% url 'logout' %}">Logout</a>
</div>
<br>
</html>